.container{
    border:2px solid black;
    padding:5px;
    height:75vh;
    width:30vw;
    margin:auto;
}
.container>div{
    margin-bottom: 10px;
}
.status{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
}
.status> :first-child{
    font-size:40px;
    margin-left:10px;
}
.btn1{
margin-left:300px;
}
.card{
    border:2px solid black;
    height:50vh;
    border-radius:2px;
    margin: 0 10px;
    margin-top:40px;
}
.row{
    height:12.5vh;
    display:flex; 
     /* gap:px; */
    /* border:2px solid black; */
    /* margin:10px 0 ; */
    justify-content:space-evenly;
}
.box{
    margin:5px;
    width:95px;
    border:2px solid red;
    border-radius:5px;
}
